body {
    font-family: "Edu AU VIC WA NT Pre", sans-serif;
  }

#main-nav {
    background-color: #3F5326;
}


.nav-link.active {
    font-weight: bold;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hero-section {
    background: url('../../assets/images/hero-image.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #F8FAF0;
}
.hero-section .text-container {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
}

.hero-section .container {
    max-width: 600px;
}

.bg-green {
    background-color: white;
    color: brown
}