body {
    font-family: "Sen", sans-serif;
  }

.navbar {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color:#F8FAF0;
}
.header-font {
    font-family: "Edu VIC WA NT Beginner", sans-serif;
    font-weight:600;
}
.title-font {
    font-family: "Edu VIC WA NT Beginner", sans-serif;
    font-weight:400;
}

.nav-link.active {
    font-weight: bold;
}


.hero-section {
    background: url('../../assets/images/hero-image.png') no-repeat center center;
    background-size: cover;
    height: 90vh;
    color: #F8FAF0;
}
.hero-section .text-container, 
.hero-section-secondary-page .text-container {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    margin: 20px 20px;
}

.hero-section-secondary-page {
    background: url('../../assets/images/hero-image.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #F8FAF0;
    height: 33.33vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-section .container {
    max-width: 600px;
}

#contact-instructions {
    background-color: beige;
    border-right: 1px solid #ccc;
}

#contact-instructions h3, p {
    padding: 25px 50px;
}

.contact-card {
    width: 100%;
    max-width: 500px;
    margin-right: 0;
}

.pill-shape-input {
    border-radius: 50px;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 15px;
}
