body {
    font-family: "Sen", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    min-height: 100dvh;
}
.navbar {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #3F5326;
}

.header-font {
    font-family: "Edu VIC WA NT Beginner", sans-serif;
    font-weight:600;
}
.title-font {
    font-family: "Edu VIC WA NT Beginner", sans-serif;
    font-weight:400;
}

.nav-link.active {
    font-weight: bold;
    color: #F8FAF0;
}


.hero-section {
    background: url('../../assets/images/hero-image.png') no-repeat center center;
    background-size: cover;
    height: 90vh;
    color: #F8FAF0;
}
.hero-section .text-container, 
.hero-section-secondary-page .text-container {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    margin: 20px 20px;
}

.hero-section-secondary-page {
    background: url('../../assets/images/hero-image.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #F8FAF0;
    height: 33.33vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-section .container {
    max-width: 600px;
}

#contact-instructions {
    background-color: beige;
    border-right: 1px solid #ccc;
}

#contact-instructions h3, #contact-instructions p {
    padding: 25px 50px;
}

.contact-card {
    width: 100%;
    max-width: 500px;
    margin-right: 0;
}

.pill-shape-input {
    border-radius: 50px;
}

footer {
    padding: 20px 0;
    font-size: 15px;
}

/* Footer item styling */
.footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item p {
    white-space: nowrap;
}


.px-300-wide {
    width:75px;
}


.carousel-image {
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.carousel-indicators li {
    background-color: #000;
}

.carousel-indicators .active {
    background-color: #fff;
}

li::marker{font-size:0;}

#who-we-are,
#what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background-color: beige; */
}

#carosel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6cf97;
}

.green-button {
    background-color: #3F5326;
    color: white;
}

.card-text {
    text-align: justify;
}
/* makes card photos same height */
.card-img-top {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
}

.card-body {
    padding: 10px; /* Adjust the padding as needed */
}
/* centering text*/
#mission  {
    text-align: justify;
}